*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slider{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, #ffa176, #76acfc);
    z-index: -2;
}

nav{
    display: flex;
    width: 100%;
    justify-content: space-around;
    min-height: 7vh;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(65, 49, 65);
    z-index: 4;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%;
    background-color:  #000000de;
}

.nav-links li{
    list-style-type: none;
}

.nav-links a{
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 20px;
    font-weight: bold;
}

.logo{
    color: white;
    letter-spacing: 2px;
    font-size: 30px;
    text-transform: uppercase;
}

.hamburger {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
}

.menuBurger {
    width: 40px;
    height: 4px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2);
    transition: all .5s ease-in-out;
}

.menuBurger::before,
.menuBurger::after {
  content: '';
  position: absolute;
  width: 40px;
  height: 4px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255,101,47,.2);
  transition: all .5s ease-in-out;
}
.menuBurger::before {
  transform: translateY(-13px);
}
.menuBurger::after {
  transform: translateY(13px);
}

/* ANIMATION OF BURGER */
.hamburger.open .menuBurger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}

.hamburger.open .menuBurger::before {
    transform: rotate(45deg) translate(35px, -35px);
}
.hamburger.open .menuBurger::after {
    transform: rotate(-45deg) translate(35px, 35px);
}

.aboutSection{
    position: fixed;
    display: flex;
    height: 100vh;
    top: 0;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    width: 30vw;
    float:left;
    background-color: rgba(238, 130, 238, 0.438);
    z-index: -1;
}


@media screen and (max-width: 5000px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: fixed;
        right: 0px;
        margin-top: 0%;
        height: 100%;
        width: 18vw;
        top: 0vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        z-index: 4;
    }
    .nav-links li{
        opacity: 0;
    }
    .hamburger{
        cursor: pointer;
    }
}

.nav-active{
    transform: translateX(0%);
}
@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #000000b0;
    height: 4vh;
    z-index: 3;
}

article{
    padding: 100px 200px;
}

article img{
    display: block;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 40vw;
    max-height: 40vh;
    border: 1px solid #fff;
    border-radius: 50%;
    margin-top: 60px;
    align-items: center;
    justify-content: center;
    
}

article blockquote{
    margin-top: 20px;
    font-size: 15px;
    text-align: center;
}

article h5{
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
}

.resume{
    width: 100%;
    height: 100%;
    max-width: 68vw;
    float: right;
}
  