*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slider{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to left, #ffa176, #76acfc);
    z-index: -1;
}

nav{
    display: flex;
    justify-content: space-around;
    min-height: 7vh;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    background-color: #000000b0;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%;
    background-color:  #000000de;
}

.nav-links li{
    list-style-type: none;
}

.nav-links a{
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 20px;
    font-weight: bold;
}

.logo{
    color: white;
    letter-spacing: 2px;
    font-size: 30px;
    text-transform: uppercase;
}

.hamburger {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
}

.menuBurger {
    width: 40px;
    height: 4px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2);
    transition: all .5s ease-in-out;
}

.menuBurger::before,
.menuBurger::after {
  content: '';
  position: absolute;
  width: 40px;
  height: 4px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255,101,47,.2);
  transition: all .5s ease-in-out;
}
.menuBurger::before {
  transform: translateY(-13px);
}
.menuBurger::after {
  transform: translateY(13px);
}

/* ANIMATION OF BURGER */
.hamburger.open .menuBurger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}

.hamburger.open .menuBurger::before {
    transform: rotate(45deg) translate(35px, -35px);
}
.hamburger.open .menuBurger::after {
    transform: rotate(-45deg) translate(35px, 35px);
}

section{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 3px;
}


.hero{
    width: 100%;
    height: 70%;
    position: relative;
}

.hero img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.headline{
    position: absolute;
    top: 70%;
    left: 10%;
    font-size: 80px;
    transform: translate(-20%, -70%);
    color: white;
    z-index: 3;
}

.hero::after{
    content: "";
    background: black;
    width: 150%;
    height: 100%;
    position: absolute;
    opacity: 0.2;
    left: 0;
    top: 0;
}

.viewbutton {
    position: fixed;
    top: 60%;
    left: 10%;
    font-size: 40px;
    padding: 12px 36px;
    color: white;
    z-index: 2;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: lighter;
    overflow: hidden;
    border: 2px solid black;
    border-color: white;
}

.viewbutton span
{
    position: absolute;
    background: #fff;
    transform: translate(-50%, -50%);
    pointer-events: none;
    border-radius: 50%;
    animation: animate 1s linear infinite;
}
@keyframes animate{
    0%
    {
        width: 0px;
        height: 0px;
        opacity: 0.5;
    }
    100%
    {
        width: 500px;
        height: 500px;
        opacity: 0;
    }
}

.viewbutton:hover {
    background-color: black;
    opacity: 0.9;
    transition: 1.2s;
}

.finalbutton {
    position: fixed;
    top: 60%;
    right: 10%;
    font-size: 40px;
    padding: 12px 36px;
    color: white;
    z-index: 2;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: lighter;
    overflow: hidden;
    border: 2px solid black;
    border-color: white;
}

.finalbutton span
{
    position: absolute;
    background: #fff;
    transform: translate(-50%, -50%);
    pointer-events: none;
    border-radius: 50%;
    animation: animate 1s linear infinite;
}
@keyframes animate{
    0%
    {
        width: 0px;
        height: 0px;
        opacity: 0.5;
    }
    100%
    {
        width: 500px;
        height: 500px;
        opacity: 0;
    }
}


.finalbutton:hover {
    background-color: black;
    opacity: 0.9;
    transition: 1.2s;
}

@media screen and (max-width: 5000px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: fixed;
        right: 0px;
        margin-top: 0%;
        height: 100%;
        width: 18vw;
        top: 0vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        z-index: 4;
    }
    .nav-links li{
        opacity: 0;
    }
    .hamburger{
        cursor: pointer;
    }
}

.nav-active{
    transform: translateX(0%);
}
@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #000000b0;
    height: 4vh;
    z-index: 3;
}
  